In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"D:\walmart-recruiting-store-sales-forecasting\test_final.csv")
df.head()

,Store,Dept,Date,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y,Type,Size
0,1,1,2012-11-02,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,False,A,151315
1,1,1,2012-11-09,False,61.24,3.314,11421.32,3370.89,40.28,4646.79,6154.16,223.481307,6.573,False,A,151315
2,1,1,2012-11-16,False,52.92,3.252,9696.28,292.10,103.78,1133.15,6612.69,223.512911,6.573,False,A,151315
3,1,1,2012-11-23,True,56.23,3.211,883.59,4.17,74910.32,209.91,303.32,223.561947,6.573,True,A,151315
4,1,1,2012-11-30,False,52.34,3.207,2460.03,NaN,3838.35,150.57,6966.34,223.610984,6.573,False,A,151315

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115064 entries, 0 to 115063
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         115064 non-null  int64
 1   Dept          115064 non-null  int64
 2   Date          115064 non-null  object
 3   IsHoliday_x   115064 non-null  bool
 4   Temperature   115064 non-null  float64
 5   Fuel_Price    115064 non-null  float64
 6   MarkDown1     114915 non-null  float64
 7   MarkDown2     86437 non-null   float64
 8   MarkDown3     105235 non-null  float64
 9   MarkDown4     102176 non-null  float64
 10  MarkDown5     115064 non-null  float64
 11  CPI           76902 non-null   float64
 12  Unemployment  76902 non-null   float64
 13  IsHoliday_y   115064 non-null  bool
 14  Type          115064 non-null  object
 15  Size          115064 non-null  int64
dtypes: bool(2), float64(9), int64(3), object(2)
memory usage: 12.5+ MB

In [4]:
df.describe()

,Store,Dept,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Size
count,115064.000000,115064.000000,115064.000000,115064.000000,114915.000000,86437.000000,105235.000000,102176.000000,115064.000000,76902.000000,76902.000000,115064.000000
mean,22.238207,44.339524,53.941804,3.581546,7689.216439,3734.051729,2403.088666,3356.219071,3922.681189,176.961347,6.868733,136497.688921
std,12.809930,30.656410,18.724153,0.239442,10698.760716,8323.495014,13767.939313,7570.501545,19445.150745,41.239967,1.583427,61106.926438
min,1.000000,1.000000,-7.290000,2.872000,-2781.450000,-35.740000,-179.260000,0.220000,-185.170000,131.236226,3.684000,34875.000000
25%,11.000000,18.000000,39.820000,3.431000,1966.460000,180.350000,15.100000,155.460000,1309.300000,138.402033,5.771000,93638.000000
50%,22.000000,37.000000,54.470000,3.606000,4842.290000,742.590000,78.260000,840.940000,2390.430000,192.304445,6.806000,140167.000000
75%,33.000000,74.000000,67.350000,3.766000,9439.140000,2735.670000,272.580000,3096.920000,4227.270000,223.244532,8.036000,202505.000000
max,45.000000,99.000000,101.950000,4.125000,103184.980000,71074.170000,149483.310000,65344.640000,771448.100000,228.976456,10.199000,219622.000000

In [8]:
df["Date"] = pd.to_datetime(
    df["Date"],
    format="%Y-%m-%d",
    errors="raise"
)

In [ ]:
df["Date"].dtype
df["Date"].isna().sum()

0

In [11]:
df["Year"]=df["Date"].dt.year
df["Year"].head(15)

0     2012
1     2012
2     2012
3     2012
4     2012
5     2012
6     2012
7     2012
8     2012
9     2013
10    2013
11    2013
12    2013
13    2013
14    2013
Name: Year, dtype: int32

In [12]:
df["Month"]=df["Date"].dt.month
df["Month"].head(15)

0     11
1     11
2     11
3     11
4     11
5     12
6     12
7     12
8     12
9      1
10     1
11     1
12     1
13     2
14     2
Name: Month, dtype: int32

In [13]:
df["Weekoftheyear"]=df["Date"].dt.isocalendar().week.astype(int)
df["Weekoftheyear"].head(15)

0     44
1     45
2     46
3     47
4     48
5     49
6     50
7     51
8     52
9      1
10     2
11     3
12     4
13     5
14     6
Name: Weekoftheyear, dtype: int32

In [14]:
df["Macro_Trend"] = (df["CPI"].rank(pct=True) + df["Unemployment"].rank(pct=True))
df["Macro_Trend"].head(15)

0     1.245332
1     1.249649
2     1.252757
3     1.253687
4     1.260156
5     1.261105
6     1.267600
7     1.280402
8     1.298367
9     1.294082
10    1.300031
11    1.304595
12    1.303659
13    1.302716
14    1.301774
Name: Macro_Trend, dtype: float64

In [15]:
df = df.sort_values(["Store", "Dept", "Date"])
# WeekBeforeHoliday = 1 means this week occurs immediately before a holiday week.
df["WeekBeforeHoliday"] = (
    df.groupby(["Store", "Dept"])["IsHoliday_x"]
      .shift(-1)
      .fillna(0)
      .astype(int)
)
# WeekAfterHoliday = 1 means this week occurs immediately after a holiday week.
df["WeekAfterHoliday"] = (
    df.groupby(["Store", "Dept"])["IsHoliday_x"]
      .shift(1)
      .fillna(0)
      .astype(int)
)

In [16]:
df["WeekBeforeHoliday"].head(15)

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     1
8     0
9     0
10    0
11    0
12    0
13    1
14    0
Name: WeekBeforeHoliday, dtype: int32

In [17]:
df["WeekAfterHoliday"].head(15)

0     0
1     0
2     0
3     0
4     1
5     0
6     0
7     0
8     0
9     1
10    0
11    0
12    0
13    0
14    0
Name: WeekAfterHoliday, dtype: int32

In [18]:
markdown_cols = ['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']
for col in markdown_cols:
    df[f"{col}_missing"] = df[col].isna().astype(int)
df[markdown_cols] = df[markdown_cols].fillna(0)
df["Total_MarkDown"] = df[markdown_cols].sum(axis=1)
df["Any_MarkDown"] = (df["Total_MarkDown"] > 0).astype(int)

In [19]:
df.to_csv("test_features.csv",index=False)