In [17]:
import pandas as pd

In [18]:
df=pd.read_csv(r"D:\walmart-recruiting-store-sales-forecasting\train_final.csv")
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,1,1,05-02-2010,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
1,1,1,12-02-2010,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,A,151315
2,1,1,19-02-2010,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,A,151315
3,1,1,26-02-2010,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,A,151315
4,1,1,05-03-2010,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,A,151315

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday_x   421570 non-null  bool
 5   Temperature   421570 non-null  float64
 6   Fuel_Price    421570 non-null  float64
 7   MarkDown1     150681 non-null  float64
 8   MarkDown2     111248 non-null  float64
 9   MarkDown3     137091 non-null  float64
 10  MarkDown4     134967 non-null  float64
 11  MarkDown5     151432 non-null  float64
 12  CPI           421570 non-null  float64
 13  Unemployment  421570 non-null  float64
 14  Type          421570 non-null  object
 15  Size          421570 non-null  int64
dtypes: bool(1), float64(10), int64(3), object(2)
memory usage: 48.6+ MB

In [20]:
df.describe()

,Store,Dept,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Size
count,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,150681.000000,111248.000000,137091.000000,134967.000000,151432.000000,421570.000000,421570.000000,421570.000000
mean,22.200546,44.260317,15981.258123,60.090059,3.361027,7246.420196,3334.628621,1439.421384,3383.168256,4628.975079,171.201947,7.960289,136727.915739
std,12.785297,30.492054,22711.183519,18.447931,0.458515,8291.221345,9475.357325,9623.078290,6292.384031,5962.887455,39.159276,1.863296,60980.583328
min,1.000000,1.000000,-4988.940000,-2.060000,2.472000,0.270000,-265.760000,-29.100000,0.220000,135.160000,126.064000,3.879000,34875.000000
25%,11.000000,18.000000,2079.650000,46.680000,2.933000,2240.270000,41.600000,5.080000,504.220000,1878.440000,132.022667,6.891000,93638.000000
50%,22.000000,37.000000,7612.030000,62.090000,3.452000,5347.450000,192.000000,24.600000,1481.310000,3359.450000,182.318780,7.866000,140167.000000
75%,33.000000,74.000000,20205.852500,74.280000,3.738000,9210.900000,1926.940000,103.990000,3595.040000,5563.800000,212.416993,8.572000,202505.000000
max,45.000000,99.000000,693099.360000,100.140000,4.468000,88646.760000,104519.540000,141630.610000,67474.850000,108519.280000,227.232807,14.313000,219622.000000

In [21]:
def robust_to_datetime(series):
    cleaned=(series.astype(str).str.strip().str.replace(r"[/.]", "-", regex=True))
    return pd.to_datetime(
        cleaned,
        errors='coerce',      # bad strings → NaT (no crash)
        dayfirst=True,        # helps with dd‑mm‑yyyy
        infer_datetime_format=True
    )
df["Date"] = robust_to_datetime(df["Date"])

C:\Users\CYBORG_15\AppData\Local\Temp\ipykernel_1304\1395507570.py:3: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  return pd.to_datetime(

In [22]:
print("dtype after conversion :", df["Date"].dtype)        # should be datetime64[ns]
print("total rows                :", len(df))
print("rows that became NaT      :", df["Date"].isna().sum())

dtype after conversion : datetime64[ns]
total rows                : 421570
rows that became NaT      : 0

In [23]:
df["Year"]=df["Date"].dt.year
df["Year"].head(15)

0     2010
1     2010
2     2010
3     2010
4     2010
5     2010
6     2010
7     2010
8     2010
9     2010
10    2010
11    2010
12    2010
13    2010
14    2010
Name: Year, dtype: int32

In [24]:
df["Month"]=df["Date"].dt.month
df["Month"].head(15)

0     2
1     2
2     2
3     2
4     3
5     3
6     3
7     3
8     4
9     4
10    4
11    4
12    4
13    5
14    5
Name: Month, dtype: int32

In [25]:
df["Weekoftheyear"]=df["Date"].dt.isocalendar().week.astype(int)
df["Weekoftheyear"].head(15)

0      5
1      6
2      7
3      8
4      9
5     10
6     11
7     12
8     13
9     14
10    15
11    16
12    17
13    18
14    19
Name: Weekoftheyear, dtype: int32

In [26]:
df["Macro_Trend"] = (df["CPI"].rank(pct=True) + df["Unemployment"].rank(pct=True))
df["Macro_Trend"].head(15)

0     1.296640
1     1.303976
2     1.306097
3     1.306874
4     1.308197
5     1.308693
6     1.302854
7     1.292504
8     1.176432
9     1.171433
10    1.168513
11    1.167340
12    1.166459
13    1.165132
14    1.164961
Name: Macro_Trend, dtype: float64

In [27]:
df = df.sort_values(["Store", "Dept", "Date"])
# WeekBeforeHoliday = 1 means this week occurs immediately before a holiday week.
df["WeekBeforeHoliday"] = (
    df.groupby(["Store", "Dept"])["IsHoliday_x"]
      .shift(-1)
      .fillna(0)
      .astype(int)
)
# WeekAfterHoliday = 1 means this week occurs immediately after a holiday week.
df["WeekAfterHoliday"] = (
    df.groupby(["Store", "Dept"])["IsHoliday_x"]
      .shift(1)
      .fillna(0)
      .astype(int)
)

In [28]:
df["WeekBeforeHoliday"].head(15)

0     1
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: WeekBeforeHoliday, dtype: int32

In [29]:
df["WeekAfterHoliday"].head(15)

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: WeekAfterHoliday, dtype: int32

In [30]:
markdown_cols = ['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']
for col in markdown_cols:
    df[f"{col}_missing"] = df[col].isna().astype(int)
df[markdown_cols] = df[markdown_cols].fillna(0)
df["Total_MarkDown"] = df[markdown_cols].sum(axis=1)
df["Any_MarkDown"] = (df["Total_MarkDown"] > 0).astype(int)

In [31]:
df.to_csv("train_features.csv",index=False)